* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffcf2;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.16);
}
nav > a {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #252422;
  font-size: 1rem;
  font-weight: bold;
  padding: 13px 40px;
  transition: all 0.6ms ease-in-out;
  text-transform: uppercase;
}
nav a:hover {
  color: #eb5e28;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

p.blog {
  margin: 100px 370px;
  color: #403d39;
}
div.intro {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  color: #403d39;
}

div.intro img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

div.description {
  padding: 100px;
}

div.description p {
  font-size: 1.2rem;
}
div.description span {
  font-size: 5rem;
  color: #eb5e28;
}
